@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #FC5056;
  --primary-hover-color: #FF3636;
  --secondary-color: #F7F8FA;
  --text-dark: #051036;
  --text-light: #ffffff;
  --text-muted: #a3a3a3;
  --text-gray: #676D85;
  --border-color: #A9AFBB;
  --border-light: #a9afbb75;
}

* {
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2,
h3, h4,
h5, h6 {
  font-family: 'Work Sans', sans-serif;
  color: #051036;
}

a {
  text-decoration: none;
  color: inherit;
}


.btn {
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.btn-primary:hover {
  background-color: var(--primary-hover-color);
}

.form-control {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-gray);
}

.input-icon {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  color: var(--text-muted);
  z-index: 1;
  pointer-events: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  list-style: none;
  padding: 0;
}

.pagination li a,
.pagination button {
  margin: 0 5px;
  font-size: 0.8rem;
  color: var(--border-color);
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.pagination a:hover,
.pagination button:hover,
.pagination .active {
  background-color: var(--primary-color);
  color: var(--text-light) !important;
  border-radius: 50%;
}

.previous a,
.next a {
  color: var(--border-color);
  border-radius: 50%;
}

.previous.disabled a,
.next.disabled a {
  background-color: var(--text-light);
  cursor: not-allowed;
}

.previous.disabled:hover,
.next.disabled:hover {
  background-color: transparent;
}

.break-me {
  padding: 0.5em 1rem;
  color: var(--primary-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__input-container input {
  padding: .375rem .75rem .375rem 30px;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.searchbarContainer {
  transform: translateY(-50%);
  position: relative;
  z-index: 3;
}

.searchbarContainer .custom-label {
  font-family: "Kaushan Script", cursive;
}

.inputForm {
  font-size: 0.9rem;
  color: var(--text-muted);
  padding-left: 30px;
}

.searchbarContainer .input-icon {
  position: absolute;
  height: 100%;
  top: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 8px;
  color: var(--text-muted);
  z-index: 1;
  pointer-events: none;
}

.searchbarContainer .btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-light);
  font-size: 0.9rem;
  margin-top: 2rem;
}

.searchbarContainer .btn:hover {
  background-color: var(--primary-hover-color);
}

/* Error Page */
.errorContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.errorContent {
  flex: 1;
}

.errorContent h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-family: "Kaushan Script", cursive;
}

.errorContent h3 {
  font-weight: 600;
  margin-bottom: 3rem;
}

.errorContent .col1,
.errorContent .col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.errorContent .col1 {
  height: 50%;
  /* background-color: var(--primary-color); */
  padding: 2rem;
}

.errorContent .col2 img {
  max-width: 100%;
  /* height: 50%; */
  /* object-fit: cover; */
}

.errorContent .errorBtn {
  margin-top: auto;
}

.errorContent .errorBtn .btn-primary,
.errorContent .errorBtn .btn-secondary {
  color: var(--text-light);
  padding: 0.5rem 0.8rem;
  border: none;
}

.errorContent .errorBtn .btn-primary {
  background-color: var(--primary-color);
  margin-right: 1rem;
  transition: background-color 0.3s ease;
}

.errorContent .errorBtn .btn-primary:hover {
  background-color: var(--primary-hover-color);
}

.errorContent .errorBtn .biggerBtn {
  padding: 1rem;
  font-size: 1.2rem;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.section1 {
  height: 45vh;
  background-image: url('https://via.placeholder.com/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.text-overlay {
  position: relative;
  z-index: 9998;
  color: var(--text-light);
  text-align: center;
}

.text-overlay h3 {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.text-overlay h1 {
  font-size: 3rem;
  font-weight: 600;
}

.text-overlay p {
  font-size: 0.85rem;
  margin-top: -0.8rem;
}

.section2 {
  height: auto;
}

.subtitle {
  font-family: "Kaushan Script", cursive;
  color: var(--primary-color);
  position: relative;
  margin: 20px 0;
}

.title {
  font-weight: 800;
  margin-bottom: 1.2rem;
}

.section2 h4 {
  font-family: "Kaushan Script", cursive;
  font-weight: 600;
  margin-right: 0.4rem;
}

.s2-bottom {
  display: flex;
  justify-content: center;
}

.section3 {
  height: auto;
  margin-bottom: 1.5rem;
  padding: 3rem 0;
  background-color: var(--secondary-color);
}

.section3 .image-fluid {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.section3 .image-fluid:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.section4 .title {
  color: var(--text-dark);
  font-weight: 700;
  font-size: 2.5rem;
}

.section4 p {
  font-size: 0.9rem;
  font-weight: 500;
}

.section4 ul li {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.section4 .s4-icon {
  color: var(--primary-color);
  margin-right: 0.3rem;
}

.section4 .btn {
  color: var(--text-dark);
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 2px solid #c5c5c5;
  border-radius: 5px;
  width: 35%;
  transition: all 0.3s ease;
}

.section4 .btn:hover {
  color: var(--text-light);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.section5 {
  /* height: auto; */
  margin-bottom: 4rem;
}

.section6 {
  background-color: var(--secondary-color);
  margin-bottom: 4rem;
}

.section6 .quote-icon {
  margin: 0 auto;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.section6 .quote {
  font-size: 0.9rem;
  color: var(--text-dark);
  font-weight: 700;
  margin-top: 1rem;
}

.section6 .author {
  color: var(--border-color);
  font-size: 0.7rem;
}

.section7 .travelGuideContent p {
  font-size: 0.75rem;
  margin-bottom: 0.7rem;
  margin-left: 0.7rem;
  text-align: start;
  color: var(--border-color);
}

.section7 .travelGuideContent h5 {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: start;
  margin-left: 0.7rem;
  color: var(--text-dark);
}

.section7 .travel-guide img {
  transition: transform 0.3s ease;
}

.section7 .travel-guide img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 75vh;
}

.carrossel2 {
  width: 100%;
  height: 40vh;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour-card {
  width: 100%;
  height: auto;
  padding: 1rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.tour-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-content {
  background-color: var(--secondary-color);
  padding: 1rem;
}

.card-content p {
  font-size: 0.8rem;
  margin: 0;
  color: var(--text-muted);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  padding: 0.5rem 0 !important;
  color: var(--text-dark) !important;
  margin: 0.8rem 0 !important;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  margin: 1rem 0;
}

.card-rating {
  background-color: var(--primary-color);
  padding: 0 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
}

.card-rating p {
  color: var(--text-light);
  font-weight: 400;
}

.card-info .card-icon {
  margin-right: 0.2rem;
}

.card-info .card-duration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  border-top: 1px solid #ccc;
}

.card-price h5 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--text-dark);
  font-family: "Kaushan Script", cursive;
}

.cat-card {
  padding: 1rem;
  text-align: start;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}


.cat-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.cat-content {
  border: 1px solid var(--border-light);
  padding: 1rem;
}

.cat-content p {
  margin: 0;
  color: var(--text-muted);
}

.cat-title {
  font-family: 'Work Sans', sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  padding: 1rem 0 0.2rem 0 !important;
  color: var(--text-dark) !important;
  margin: 0 !important;
}

.cat-price {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.3rem 0;
  margin-top: 0.3rem;
}

.cat-price h5 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-color);
  font-family: "Kaushan Script", cursive;
}

.packageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.packageContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 3rem;
}

.packageContent .section1 {
  height: 35vh;
  background-image: url('https://via.placeholder.com/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.packageContent .section1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.packageContent .text-overlay {
  position: relative;
  z-index: 9999;
  color: var(--text-light);
  text-align: center;
}

.packageContent .text-overlay h1 {
  font-size: 3rem;
  font-weight: 600;
}

.packageContent .text-overlay p {
  font-size: 0.85rem;
  margin-top: -0.8rem;
}

.packageContent .section1 .s1-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.8rem;
}

.packageContent .section1 .s1-nav .navLink {
  color: var(--text-light);
  position: relative;
}

.packageContent .section1 .s1-nav .activeLink,
.packageContent .section1 .s1-nav .activeLink:hover {
  color: var(--primary-color);
}

.packageContent .section1 .s1-nav .navLink::after {
  display: none;
}

.packageContent .section1 .s1-nav .navLink:not(:last-child)::after {
  content: ' / ';
  color: var(--text-light);
  position: absolute;
  right: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.filter {
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--border-color);
}

.filter .filterTitle {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0.8rem;
  color:var(--text-dark);
}

.filter .searchContainer {
  position: relative;
}

.filter .form-control {
  border: none;
  color: var(--border-color) !important;
  font-size: 0.9rem;
  padding: 0.5rem;
  z-index: 3;
}

.ticketInput .form-control {
  padding: 0.5rem;
  color: var(--border-color) !important;
}

.filter .searchIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  margin: 0 8px;
  color: var(--text-muted);
  z-index: 1;
  pointer-events: none;
}

.filter .prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.filter .btn {
  background-color: var(--primary-color);
  color: var(--text-light);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter .btn:hover {
  background-color: var(--primary-hover-color);
}

.filter .custom-range {
  -webkit-appearance: none;
  appearance: none;
  --fill-color: var(--primary-color);
  --track-color: #e0e0e0;
  transition: background 0.3s;
}

.filter .custom-range::-webkit-slider-runnable-track {
  background: var(--primary-color);
}

.filter .custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--primary-color);
  cursor: pointer;
}

.filter .prices strong {
  color: var(--text-dark);
}

.filter .form-check {
  margin-bottom: 0.3rem !important;
}

.filter .form-check-input {
  border: 1px solid var(--text-muted);
  background-color: transparent;
  cursor: pointer;
}

.filter .form-check-input:checked[type=checkbox] {
  background-color: var(--primary-color);
  border: none;
  background-image: none;
}

.filter .subtitle {
  font-family: 'Work Sans', sans-serif;
  color: var(--text-dark);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.packageContent .section2 .s2-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--border-color);
  font-size: 0.8rem;
}

.packageContent .section2 .s2-top p {
  margin: 0;
}

.packageContent .section2 .s2-top .ordering {
  display: flex;
  align-items: center;
}

.packageContent .section2 .s2-top .ordering p {
  margin-right: 0.5rem;
}

.packageContent .section2 .s2-top .ordering .ordering-icon {
  margin-right: 0.3rem;
  font-size: 1.2rem;
}

.packageContent .section2 .s2-top .ordering select {
  padding: 0.3rem 0;
  color: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.packageContent .tourResult {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 2rem;
}

.packageContent .tourResult .notFound {
  font-size: 0.9rem;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 3rem;
  padding: 1rem;
}

.detailsContent p {
  margin: 0;
}

.detailsContent .first-row p {
  color: var(--text-gray);
}

.detailsContent p,
.detailsContent strong {
  font-size: 0.9rem;
}

.detailsContent .first-row a {
  color: var(--primary-color);
  font-size: 0.9rem;
  text-decoration: none;
}

.detailsContent .first-row a:hover {
  font-weight: 600;
}

.detailsContent .first-row svg {
  font-size: 20px;
  color: var(--text-gray);
}

.fr-icon svg:hover {
  font-weight: 700;
  transform: scale(1.1);
  cursor: pointer;
}

.fr-icon .fr-heart:hover {
  color: var(--primary-color);
}

.detailsContent .detailsTitle {
  font-size: 1.8rem;
  font-weight: 700;
  color:var(--text-dark);
}

.detailsContent .second-row p {
  color: var(--text-gray);
}

.detailsContent .second-row .sr-star {
  color: var(--primary-color);
  font-size: 12px;
}

.detailsContent .second-row .sr-price {
  color: var(--primary-color);
}

.detailsTicket {
  background-color: var(--secondary-color);
  padding: 2rem;
}

.detailsTicket .ticketTop strong{
  font-size: 1.8rem;
  margin-right: 0.3rem;
}

.detailsTicket .ticketTop p,
.detailsTicket .ticketInput p {
  color: var(--text-gray);
}

.detailsTicket .ticketInput {
  display: flex;
  flex-direction: column;
}

.detailsTicket .ticketInput label {
  color: var(--text-dark);
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.detailsTicket .ticketInput .ticketCatBtn button,
.detailsTicket .ticketInput .ticketCatBtn span {
  color: var(--text-gray);
  border: 1px solid var(--text-gray);
  background-color: transparent;
  border-radius: 5px;
  padding: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detailsTicket .ticketInput .ticketCatBtn span {
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.detailsTicket .ticketInput .ticketCatBtn button:hover {
  background-color: var(--text-gray);
  color: var(--text-light);
}

.detailsTicket .ticketTotal strong{
  font-size: 1.5rem;
  color: var(--primary-color);
}

.detailsTicket .ticketTotal {
  border-top: 1px solid var(--border-color);
  padding-top: 1rem;
}

.detailsTicket .ticketTop {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.detailsTicket .ticketBtn {
  background-color: var(--primary-color);
  color: var(--text-light);
  transition: all 0.3s ease;
}

.detailsTicket .ticketBtn:hover {
  background-color: #F54336;
}

.detailsContent .detailsSubtitle {
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.detailsContent .detailsOverview p {
  color: var(--text-gray);
  font-size: 0.9rem;
}

.detailsContent .detailsCarrossel h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.detailsContent .detailsCarrossel{
  padding: 2rem;
}

.detailsContent .detailsRating {
  background-color: var(--secondary-color);
  padding: 2rem;
}

.detailsRating .averageScore {
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--text-light);
  height: 100%;
}

.detailsRating .averageScore h2 {
  font-size: 2.5rem;
}

.averageCategories .averageTitle {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--text-dark);
}

.averageCategories span {
  font-size: 0.8rem;
  font-weight: 500;
}

.averageCategories .progressRange {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  position: relative;
  pointer-events: none;
}

.averageCategories .progressRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
}

.averageCategories .progressRange::-moz-range-thumb {
  width: 0;
  height: 0;
}

.averageCategories .progressRange::-webkit-slider-runnable-track {
  background: linear-gradient(to right, var(--primary-color) 0%, var(--primary-color) var(--value), #ddd var(--value), #ddd 100%);
}

.addReview {
  padding: 2rem;
  background-color: var(--secondary-color);
}

.addReview h5,
.showReviews h5 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-dark);
}

.addReview .rc-title {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--text-gray);
}

.addReview .form-control {
  font-size: 0.9rem;
  border: none;
  padding: 0.8rem 0.5rem;
}

.addReview .btn {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  font-size: 0.8rem;
  transition: all 0.3s ease;
}

.addReview .btn:hover {
  background-color: #F54336;
}

.star-rating .star-label {
  cursor: pointer;
  margin-right: 5px;
}

.star-rating input[type=radio] {
  display: none;
}

.star-rating .star {
  font-size: 15px;
  color: var(--border-color);
  transition: color 0.2s;
}

.star-rating .star.active {
  color: #f1f52c;
}

.showReviews .review {
  border: 1px solid var(--border-color);
  padding: 2rem;
}

.review .userIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.review .review-date,
.review .user-review,
.review .comment {
  font-size: 0.8rem;
  color: var(--text-gray);
}

.review .review-rating{
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2px 5px;
  color: var(--text-light);
  border-radius: 5px;
  font-size: 0.7rem;
}

.review .review-rating p {
  font-size: 0.8rem;
}