@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
  /* font-family: "Kaushan Script", cursive; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #ffff;
}

.navLink {
  color: red;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.navLink:hover {
  color: blue ;
}